@CHARSET "UTF-8";


@import url(http://fonts.googleapis.com/css?family=Francois+One);

table{
	margin: 0px auto;
	border: 8px solid #4e2727;
}

h1{
	
	color:#814338;
}

.c0:hover{
	background-color: #b3675a;
}
.c3:hover{
  background-color: #b3675a;
}

td {
	margin: 1px solid #4e2727;	
}

.c0 {
	background-color: #814338;
	/* 밤색 - 기본 */
}

.c1 {
	
	background-color: #4522b1;
	/* 파랑 -정답 */
}

.c2 {
	
	background-color: #dc1313;
	/* 빨강 - 오답 */
}

.c3 {
	
	background-color: #814338;
	/*밤색 - 잠시 덮는 색 */
	}
	
